.input-error {
  outline: 2px solid red;
}
.dashboard__charts {
  display: flex;
}
.chart-container {
  width: 20%;
}
:root {
  --background-primary: linear-gradient(135deg, #0d0b2c, #2e004f);
  --text-primary: #e0e0e0;
}
body {
  background: var(--background-primary);
  color: var(--text-primary);
}
